body{
    background-color: seagreen;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
header h1
{
    font-size: 4rem;
}
#body
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#links
{
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}
#links article
{
    flex: 1;
    margin: 0.5rem;
    display: flex;
    justify-content: center;

    width: auto;
    background-color: lightslategray;
    padding: 1rem;
    border-radius: 1rem;
}
h2
{
    font-size: 3rem;
    padding-left: 1rem;
}
#stack
{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#stack article
{
    max-width: auto;
    display: flex;
    justify-content: center;
    flex: 1;

    background-color: lightslategray;
    padding: 1rem;
    border: 1px solid white;
}
footer
{
    display: flex;
    justify-content: center;
}

@media(min-width: 700px){
    #links, #stack{
        flex-direction: row;
    }
}
