body{
    background-color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    padding-top: 1rem;
}
header{
    
}
.bg-image{
    position: absolute;
    background-color: white;
    background-image: url('./Images/down-angle-photography-of-red-clouds-and-blue-sky-844297.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 12rem;
    opacity: 0.7;
    z-index: -1;
}
h1
{
    font-size: 4rem;
}

/* Links */
#links
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
}
#links article
{
    flex: 1;
    display: flex;
    justify-content: center;
    width: auto;
    padding: 1rem;
}
#linkedin{
    background-color: cadetblue;
}
#github{
    background-color: grey;
}
#resume{
    background-color: white;
}
/* Qualifications */
h2{
    padding: 1rem;
    margin: 0;
    font-size: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height: 4rem;
}
#header-tech{
    background-image: url('./Images/photo-of-green-circuit-board-1105379.jpg');
}
#header-qual{
    background-image: url('./Images/schedule-planning-startup-launching-7376.jpg');
}
#stack
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#stack article
{
    margin: 0rem 1rem;
    max-width: auto;
    display: flex;
    justify-content: center;
    flex: 1;

    background-color: lightslategray;
    padding: 1rem;
    border: 1px solid white;
}
footer
{
    background-color: white;
    display: flex;
    justify-content: center;
}

/* Desktop */
@media(min-width: 700px){
    #links, #stack{
        flex-direction: row;
    }
    #stack article{
        margin: 0rem;
    }
}
