*{
    padding:0;
    margin:0rem;
}
section{
    margin: 0rem 12rem;
}
#navbar{
    list-style-type: none;
    border: 0;
    padding: 0;
    height: 10%;
    width: 100%;
    background-color: grey;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#navbar a{
    margin:1rem;
    padding:1rem;
    display: flex;
    background-color: blue;
    align-self: stretch;
    align-items: center;
}
#navbar a:hover{
    background-color:aqua;
}
header{
    padding: 1rem;
    margin: 0rem 10rem;
    display: block;
    background-color: cornflowerblue;
}
h1, h2{margin-left: 2rem;}
h1 {font-size: 5rem; padding-top: 10%;}
h3{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
p{
    margin-bottom: 0.5rem;
}
h4{
    font-size: 1.5rem;
}
ul{
    list-style-type: none;
}
li{
    margin: 0.5rem 2rem;
}
#skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #666666;
    padding: 1rem;
}
#skills span{
    background-color: #333;
    padding: 0.5rem;
}
#product {
    display: flex;
    flex-direction: row;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-content: center;
}
#product article{
    background: #333333;
    padding: 1rem;
}
#product a{
    background-color: #666666;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
}
#product a:hover{
    background-color: #888888;
}
img{
    width: 20rem;
    height:20rem;
}
footer{
    margin-top: 2rem;
    display: grid;
    padding: 1rem 5rem;
    justify-content: center;
    background-color: #333333;
}
